		*{
    padding:0;
    margin:0;
}        
        html,
body,
.view {
    height: 102%;
}


.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: white;
}



.top-nav-collapse h3{
    color:#428bca;
    font-weight: bold;
}

.top-nav-collapse b{
    color: #428bca;
    font-size: 15px;
    font-weight: bold;
}

.top-nav-collapse p{
      color: #428bca;
    font-size: 15px;
    font-weight: bold;
}

			#vendors{
				 width:220px;
				border:1px solid white; 
				background-color: white;
			}

     

			#header{
				color: white;
			}

			#gallery{
				position: absolute; 
				margin-left: 40px; 
				margin-top: 70px; 
				color: white;
				 font-weight: bold;
			}

			#categoryicon{
				background-color: black;
			}

			#partner{
				width:100%;
			}

			.top-nav-collapse h3{
    color:#428bca;
    font-weight: bold;

}


@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}

   #carousel_image{
   	height:230px;
   	width:100%;
   }

     #testimonialsimage{
            height: 200px;
            width: auto;

    }

   #carousel_top{
   	height: 500px;
   	width: 100%;
   }

   @media (max-width: 768px) {
    .full-bg-img,
    .view {
        height: auto;
        position: relative;
    }
}

 



